%Dimensions {
  min-width: 130px;
  cursor: pointer;
  height: 250px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .main {
    justify-content: normal;
    background: white;
    padding: 20px;
    border-radius: 10px;
    overflow-x: scroll;
    display: flex;
    position: relative;
    width: 100%;
    .color1 {
      @extend %Dimensions;
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(23, 167, 193, 1) 78%,
        rgba(0, 212, 255, 1) 100%
      );
    }
    .color2 {
      @extend %Dimensions;
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(88, 148, 110, 1) 0%,
        rgba(126, 185, 141, 1) 59%,
        rgba(126, 185, 141, 1) 82%
      );
    }
    .color3 {
      @extend %Dimensions;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 0, 1) 0%,
        rgba(0, 188, 212, 1) 50%,
        rgba(238, 130, 238, 1) 100%
      );
    }
    .color4 {
      @extend %Dimensions;
      background: linear-gradient(
        90deg,
        #000046 0%,
        #4f1c96,
        33%,
        #1cb5e0 100%
      );
    }
    .color5 {
      @extend %Dimensions;
      background: linear-gradient(
        90deg,
        rgb(10, 182, 248) 0%,
        rgb(237, 45, 83) 100%
      );
    }
    .color6 {
      @extend %Dimensions;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 0, 1) 0%,
        rgba(0, 188, 212, 1) 50%,
        rgba(238, 130, 238, 1) 100%
      );
    }
    .color7 {
      @extend %Dimensions;
      background: linear-gradient(
        94deg,
        rgba(255, 193, 7, 1) 0%,
        rgba(255, 99, 0, 1) 100%
      );
    }
  }
}
